.main {
    letter-spacing: -2px;
}

.textBody {
    border: 2px solid #191919;
    background-color: #DFD0B8;
    color: #414141;
    width: 100%;
    height: 375px;
    resize: none;
    overflow: hidden;
}

.textBody:focus {
    outline: none;
    border: 2px solid #FF5C47;
}

.btn {
    height: 55px;
    width: 105px;
}

.delete {
    width: 115px;
}

.block {
    background-color: #414141;
    border: 2px solid #191919;
}

.success {
    text-decoration-color: green;
}