.main {
	color: #414141;
	font-size: 25px;
    line-break: loose;
    font-weight: normal;
}

.title {
	font-family: Verdana;
    color: #191919;
	font-size: 50px;
    line-height: 38px;
	text-transform: uppercase;
	letter-spacing: -8px;
	font-weight: bold;
}

.back {
    position: absolute;
    margin: 25px;
    top: 0;
    right: 0;
    height: 55px;
    width: 105px;
}

.center {
    text-align: center;
}