.main[b-597p367wi1] {
	color: #414141;
	font-size: 25px;
	letter-spacing: -1px;
    line-break: loose;
}

h2[b-597p367wi1] {
    font-weight: bold;
    letter-spacing: -2px;
}

.homePageTitle[b-597p367wi1] {
	font-family: Verdana;
    color: #191919;
	font-size: 50px;
    line-height: 38px;
	text-transform: uppercase;
	letter-spacing: -8px;
	font-weight: bold;
}

.postHover:hover[b-597p367wi1] {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: background-color 0.4s ease-out;
}

.postHover[b-597p367wi1] {
    transition: background-color 0.4s ease-out;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

.addPostContainer[b-597p367wi1] {
    display: flex;
}

.small[b-597p367wi1] {
    font-size: 15px;
}

.wrap[b-597p367wi1] {
    line-break: auto;
}

.btn[b-597p367wi1] {
    position: absolute;
    margin: 25px;
    top: 0;
    right: 0;
    height: 50px;
    width: 130px;
}