.btn[b-9uab0auxzj] {
    height: 55px;
    width: 185px;
    margin: 3px;
}

[b-9uab0auxzj] .userInput {
    border: 2px solid #191919;
    background-color: #DFD0B8;
    width: 100%;
    color: #414141;
    outline: none;
}

[b-9uab0auxzj] .userInput:focus {
    outline: none;
    border: 2px solid #FF5C47;
}

[b-9uab0auxzj] .validation-message {
    color: #191919;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: 2px solid #FF5C47;
    text-decoration-color: red;
    margin: 1px;
}