/* _content/Blazor/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-m6llz47sqy] {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 75%;
    padding: 10px;
    background-color: #153448;
}

main[b-m6llz47sqy] {
    flex: 1;
    background-color: #E7DDCB;
}

.sidebar[b-m6llz47sqy] {
    background-image: linear-gradient(180deg, #9f836F 0%, #153448 100%);
}

.top-row[b-m6llz47sqy] {
    background-color: #DFD0B8;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-m6llz47sqy]  a, .top-row[b-m6llz47sqy]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-m6llz47sqy]  a:hover, .top-row[b-m6llz47sqy]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-m6llz47sqy]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-m6llz47sqy] {
        justify-content: space-between;
    }

    .top-row[b-m6llz47sqy]  a, .top-row[b-m6llz47sqy]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-m6llz47sqy] {
        flex-direction: row;
    }

    .sidebar[b-m6llz47sqy] {
        width: 200px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-m6llz47sqy] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-m6llz47sqy]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-m6llz47sqy], article[b-m6llz47sqy] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-m6llz47sqy] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-m6llz47sqy] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/Blazor/Components/Pages/AccessDenied.razor.rz.scp.css */
.btn[b-poj1e2l9fi] {
    height: 55px;
    width: 150px;
    margin: 3px;
}
/* _content/Blazor/Components/Pages/CreateAccount.razor.rz.scp.css */
.btn[b-1zyfdmve1i] {
    height: 55px;
    width: 185px;
    margin: 3px;
}

[b-1zyfdmve1i] .userInput {
    border: 2px solid #191919;
    background-color: #DFD0B8;
    width: 100%;
    color: #414141;
    outline: none;
}

[b-1zyfdmve1i] .userInput:focus {
    outline: none;
    border: 2px solid #FF5C47;
}

[b-1zyfdmve1i] .validation-message {
    color: #191919;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: 2px solid #FF5C47;
    text-decoration-color: red;
    margin: 1px;
}
/* _content/Blazor/Components/Pages/Home.razor.rz.scp.css */
.main[b-597p367wi1] {
	color: #414141;
	font-size: 25px;
    line-break: loose;
    font-weight: normal;
}

.title[b-597p367wi1] {
	font-family: Verdana;
    color: #191919;
	font-size: 50px;
    line-height: 38px;
	text-transform: uppercase;
	letter-spacing: -8px;
	font-weight: bold;
}

.new[b-597p367wi1] {
    position: absolute;
    margin: 25px;
    top: 0;
    right: 0;
    height: 50px;
    width: 130px;
}

.search[b-597p367wi1] {
    width: 115px;
}

.searchContainer[b-597p367wi1] {
    display: flex;
}

.searchButtonContainer[b-597p367wi1] {
    width: 115px;
    margin-right: 10px;
    display: inline-flex;
}

.searchFieldContainer[b-597p367wi1] {
    width: 100%;
}
/* _content/Blazor/Components/Pages/Login.razor.rz.scp.css */
.btn[b-9uab0auxzj] {
    height: 55px;
    width: 185px;
    margin: 3px;
}

[b-9uab0auxzj] .userInput {
    border: 2px solid #191919;
    background-color: #DFD0B8;
    width: 100%;
    color: #414141;
    outline: none;
}

[b-9uab0auxzj] .userInput:focus {
    outline: none;
    border: 2px solid #FF5C47;
}

[b-9uab0auxzj] .validation-message {
    color: #191919;
    font-size: 30px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    border: 2px solid #FF5C47;
    text-decoration-color: red;
    margin: 1px;
}
/* _content/Blazor/Components/Pages/NewPost.razor.rz.scp.css */
.width[b-s52w8bbzo6] {
    width: 100%;
}

.bodyHeight[b-s52w8bbzo6] {
    height: 375px;
    resize: none;
    overflow: hidden;
}

.btn[b-s52w8bbzo6] {
    height: 55px;
    width: 105px;
}
/* _content/Blazor/Components/Pages/ReadPost.razor.rz.scp.css */
.main[b-gzmrr08vbw] {
    letter-spacing: -2px;
}

.textBody[b-gzmrr08vbw] {
    border: 2px solid #191919;
    background-color: #DFD0B8;
    color: #414141;
    width: 100%;
    height: 375px;
    resize: none;
    overflow: hidden;
}

.textBody:focus[b-gzmrr08vbw] {
    outline: none;
    border: 2px solid #FF5C47;
}

.btn[b-gzmrr08vbw] {
    height: 55px;
    width: 105px;
}

.delete[b-gzmrr08vbw] {
    width: 115px;
}

.block[b-gzmrr08vbw] {
    background-color: #414141;
    border: 2px solid #191919;
}

.success[b-gzmrr08vbw] {
    text-decoration-color: green;
}
/* _content/Blazor/Components/Pages/Search.razor.rz.scp.css */
.main[b-e6z4iaxpje] {
	color: #414141;
	font-size: 25px;
    line-break: loose;
    font-weight: normal;
}

.title[b-e6z4iaxpje] {
	font-family: Verdana;
    color: #191919;
	font-size: 50px;
    line-height: 38px;
	text-transform: uppercase;
	letter-spacing: -8px;
	font-weight: bold;
}

.back[b-e6z4iaxpje] {
    position: absolute;
    margin: 25px;
    top: 0;
    right: 0;
    height: 55px;
    width: 105px;
}

.center[b-e6z4iaxpje] {
    text-align: center;
}
